<main style="margin-top: 4em; text-align: center;">
   
    <p
        >
        Welcome {{user.username}}</p>
    <p style="font-weight: bold;">Let us add multiple items for customer</p>
     <h style="font-size:35px;background-color: grey;color:white">Thank to Register</h>
    <div style="background-image: url('dosa.jpg');"></div>
    <br><br>
    <a href="/add/meal/package" class="btn btn-primary">Add Meal Package</a>
</main>