<main style="margin-top: 4em; text-align: center;">
    
    <p
        style="font-size: xxx-large;">
        Welcome {{user.username}}</p>
        <h style="font-size:35px;background-color: grey;color:white">Thank You to Register</h>
    <h style="font-weight: bold;">We provide extraordinary service for customers</h>
    <div style="background-image: url('dosa.jpg');"></div>
</main>