<section class="bb">
  <form action="/login/user" method="POST">
    <div class="container">
      <h1>Already a Customer? Login</h1>
       <div class="forms">
         <div class="rows">
    <div class="columns" title="Sign in with Facebook">
    <img src="/images/social/fb.png" alt="Snow" style="width:40%">
  </div>
  <div class="columns" title="Sign in with Google">
    <img src="/images/social/google.jpg" alt="Snow" style="width:40%">
  </div>
  <div class="columns" title="Sign in with Twitter">
    <img src="/images/social/twitter.jpg" alt="Forest" style="width:40%">
  </div>
  <div class="columns" title="Sign in with Linkedin">
    <img src="/images/social/linkedin.png" alt="Mountains" style="width:40%">
  </div>
  </div>
  </div>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="psw" required>
      <hr>
      <button type="submit" class="registerbtn">LOG IN</button>
    </div>
  </form>
</section>
</main>
</body>